@import 'scss/carousel-mixins';

:host {
  display: flex;
  flex-direction: column;
  max-width: 100vw;

  & .carousel.has-loop /deep/ {
    flexbox-carousel-item {
      order: 1;

      &:last-child {
        order: 0;
      }
    }
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .wrapper {
    overflow: hidden;
  }
  .carousel{
    will-change: transform;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
  }

}
