@import 'carousel-mixins';

:host {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin-right: -15px;
  margin-left: -15px;

  & /deep/ {
    flexbox-carousel-item {
      order: 1;

      &:last-child {
        order: 0;
      }
    }
  }



  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .wrapper {
    overflow: hidden;
  }
  .carousel{
    will-change: transform;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

}
