@mixin make-carousel-breakpoints($width, $breakpoints) {
  &.is-set {
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &.panning {
    transition: none;
  }
  &.has-loop {
    @include make-transform($width);
    &.is-set {
      transform: none;
    }
    &.panning {
      transform: none;
    }
  }


  @each $min-width, $item-width in $breakpoints {
    @media (min-width: $min-width) {
      @include make-transform($item-width);
    }
  }

  &.is-reversing {
    transform: translate3d((-$width), 0, 0);
    @each $min-width, $item-width in $breakpoints {
      @media (min-width: $min-width) {
        transform: translate3d((-$min-width), 0, 0);
      }
    }
  }
}


@mixin make-transform($width) {
    left: (-$width);
    transform: translate3d($width, 0, 0);
}
