@mixin make-carousel-breakpoints($width, $breakpoints) {
  @include make-transform($width);


  @each $min-width, $item-width in $breakpoints {
    @media (min-width: $min-width) {
      @include make-transform($item-width);
    }
  }

  &.is-reversing {
    transform: translateX((-$width));
    @each $min-width, $item-width in $breakpoints {
      @media (min-width: $min-width) {
        transform: translateX((-$min-width));
      }
    }
  }
  &.is-set {
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &.panning {
    transform: none;
    transition: none;
  }
}


@mixin make-transform($width) {
    left: (-$width);
    transform: translateX($width);
}
